button {
    color: whitesmoke !important;
}

.btn-primary{
    background-color: plum !important;
    border-color: bisque
 }
 .btn-secondary {
    background-color: palevioletred;
    border-color: bisque;
 }
.btn-success  {
    background-color: peachpuff;
    border-color: bisque;
}
.div-class{
    display: flex;
    justify-content: space-evenly !important
}